/* *{
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, #A9F1DF , #FFBBBB );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
img{
    width: 50px;
    height: 50px;
}
.container{
    border: 2px solid black;
    border-radius: 8px;
    max-width: 600px;
    text-align: center;
    padding: 40px;
    box-shadow:  10px 10px 8px lightblue
    /* box-shadow: 10px 5px 6px rgba(red, green, blue, alpha); */
/* }
form input[type="text"]{
    border-radius: 5px;
    border: none;
    outline: none;
}
form input[type="submit"]{
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: rgb(24, 206, 76);
    color: white;
}
.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.temp{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 10px;
}
.desc{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.details>div{
    font-size: 18px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    flex: 1;
} */ */
*{
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #96bdc6;
    background-image: linear-gradient(90deg, #A9F1DF , #FFBBBB );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.container{
    background-image: linear-gradient(90deg, #A9F1DF , #FFBBBB );
    max-width: 700px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0, 0.6);
    margin: 20px auto;
    margin-top: 40px;
    border-radius: 8px;
}
form{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
form input[type="text"]{
    padding: 10px;
    font-size: 18px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 8px;
}
form input[type="submit"]{
    padding: 10px 20px;
    border: none;
    background-color: #1ea554;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
form input[type="submit"]:hover{
    background-color: rgb(60, 162, 202);
}
.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.temp{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 10px;
}
.desc{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
.longLat{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 10px;
     margin-bottom: 20px;
}
.details{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #3e6d51;
    border-radius: 6px;
}
.details>div{
    font-size: 18px;
    padding: 22px;
    border-radius: 5px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    flex: 1;
    background-color: #A9F1DF;
}